.text {
  font-family: Trebuchet MS;
  font-size: 13px;
  line-height: 15.09px;
  font-weight: 400;
  color: #fff;
  .blue {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #1698D9;
    cursor: pointer;
  }
}