.text {
  font-family: 'Trebuchet MS';
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  .blue {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #1698D9;
    cursor: pointer;
  }
}
.disabled-text {
  font-size: 15px;
  font-family: 'Trebuchet MS';
  color: #FFFF66;
  text-align: center;
  font-weight: 400;
  line-height: 15.09px;
}