.text {
  font-family: 'Trebuchet MS';
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  .blue {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #1698D9;
    cursor: pointer;
  }
}